
body {
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
}
.avatar {
  width: 150px;
  border-radius: 50%;
  border: 2px dotted #FEAE6F;
}
 .card {
   width: 400px;
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
   padding: 20px;
   background-color: #028391;
   color: #01204E;
   border-bottom: 6px solid #FEAE6F;
   border-radius: 10px;
   text-align: center;
}
