
body {
  margin: 20px;
  font-family: font-family: 'Montserrat', sans-serif;
}
.avatar {
  width: 150px;
  border-radius: 5px;
  border: 2px dotted #FEFAE0;
}
 .card {
   width: 400px;
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
   padding: 20px;
   background-color: #DDA15E;
   color: #283618;
   border-bottom: 6px solid #606C38;
   border-radius: 10px;
   text-align: center;
}
